<main>
  <a [routerLink]="headerBackIconLink" class="desktop-content desktop-icon"><img [src]="headerBackIconImg" alt="Back"/></a>
  <section>
    <app-header class="header-height">
      <a routerLink="/login" icon><img src="assets/img/icon-left.svg" alt="Back"></a>
      <img src="assets/img/logo/logo.svg" alt="Logo" logo>
    </app-header>

    <div class="content flex-grow pyx-2">
      <p class="paxi-heading3 desktop-content mb-3">Forgot Password</p>
      <p class="paxi-paragraph">Please enter your email address and we will send you a link to reset your password.</p>

      <form id="verifyEmailForm" [formGroup]="verifyEmailForm" (ngSubmit)="onSubmit()">
        <div class="paxi-input-group">
          <label class="paxi-label py-1" for="email">*Email Address</label>
          <mat-form-field>
            <input matInput formControlName="email" id="email" placeholder="e.g. example@email.com" autocomplete="off">
            <mat-error *ngIf="validationError('email', 'required')">Please provide your email.</mat-error>
            <mat-error *ngIf="validationError('email', 'email')">Please enter a valid email address, like example@example.com.</mat-error>
          </mat-form-field>
        </div>
        <div class="paxi-btn-grp mb-2 desktop">
          <!-- <button class="paxi-btn-large paxi-btn-primary-outline mr-2" [disabled]="verifyEmailForm.invalid" (click)="resendLink()">
            Resend Link
          </button> -->
          <button class="paxi-btn-large paxi-btn-primary paxi-btn-fill" [disabled]="verifyEmailForm.invalid" type="submit" form="verifyEmailForm">Send Link</button>
        </div>
      </form>

    </div>

    <div class="mb-2 mobile">
      <!-- <button class="paxi-btn-large paxi-btn-primary-outline" [disabled]="verifyEmailForm.invalid" (click)="resendLink()">
        Resend Link
      </button> -->
      <button class="paxi-btn-large paxi-btn-primary paxi-btn-fill" [disabled]="verifyEmailForm.invalid" type="submit" form="verifyEmailForm">Send Link</button>
    </div>
  </section>
</main>
