<main>
  <section>
    <div class="content flex-grow">
      <figure class="text-center">
        <div class="sliderbg">
          <!-- <img src="assets/img/page-not-found.svg" alt="Page Not Found"> -->
          <img src="assets/img/not-found.svg" alt="Page Not Found">
        </div>
        <figcaption>
          <h2>Page Not Found</h2>
          <div class="subtitle">The page you are looking for doesn't exist or has been moved</div>
        </figcaption>
      </figure>
    </div>
  </section>
</main>
