@import '../../../../variables.scss';

.desktop-content {
  display: none;
}
.desktop{
  display: none;
}

@media only screen and (min-width: 1200px) {
  main {
    background: $paxi-bg-grey;
    .desktop-icon {
      position: absolute;
      top: 8%;
      left: 5%;
    }
    section {
      background: $paxi-bg-grey;
      width: 50%;
      min-height:unset;
      app-header {
        display: none;
      }
      .content {
        align-self: center;
        width: 70%;
        box-shadow: $card-shadow;
        p {
          text-align: center;

          &:first-child {
            margin-block: 18px;
          }
        }
        .radio-group {
          display: flex;

          label {
            margin-right: 1rem;
          }
        }
      }

      footer {
        flex-grow: 2;
        text-align: center;
        margin-top: 20px;

        button {
          width: 300px;
        }
      }
    }
  }

  .desktop-content {
    display: block;
  }
  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }
  .desktop-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
