<main>
  <a [routerLink]="headerBackIconLink" class="desktop-content desktop-icon"><img [src]="headerBackIconImg" alt="Back"/></a>
  <section>
    <app-header class="header-height">
      <app-user-sidebar icon></app-user-sidebar>
      <ng-container heading>Account Management</ng-container>
    </app-header>

    <div class="content pyx-2 flex-grow">
      <p class="paxi-heading3 desktop-content mb-3">Update Password</p>
      <form [formGroup]="updateForm" id="updateForm" (ngSubmit)="updatePassword()">
        <div class="paxi-input-group">
          <label class="paxi-label py-1" for="currPassword">*Current Password</label>
          <mat-form-field>
            <input matInput formControlName="current_password" id="currPassword" placeholder="e.g sjQcgh6!" [type]="currentHide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="currentHide = !currentHide">{{currentHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="validationError('current_password', 'required')">Please provide your password.</mat-error>
          </mat-form-field>
          <ng-container *ngIf="updatePasswordErrMsg$ | async as errMsg">
            <span class="error-text" style="margin-top: -2px; margin-bottom: 3px;">{{ errMsg }}</span>
          </ng-container>
        </div>
        <div class="paxi-input-group">
          <label class="paxi-label py-1" for="newPassword">*New Password</label>
          <mat-form-field>
            <input matInput formControlName="new_password" id="newPassword" placeholder="e.g sjQcgh6!" [type]="newHide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="newHide = !newHide">{{newHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="validationError('new_password', 'required')">Please provide your new password.</mat-error>
            <mat-error *ngIf="validationError('new_password', 'pattern')">Please ensure your password contains numbers, capital and letter and a special character such as !*%&</mat-error>
            <mat-error *ngIf="validationError('new_password', 'samePasswordValidator')">Please select a different password from your current one for security reasons.</mat-error>
          </mat-form-field>
        </div>
        <div class="paxi-input-group">
          <label class="paxi-label py-1" for="confPassword">*Confirm Password</label>
          <mat-form-field>
            <input matInput formControlName="conf_password" id="confPassword" placeholder="e.g sjQcgh6!" [type]="conHide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="conHide = !conHide">{{conHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="validationError('conf_password', 'required')">Please provide your confirm password.</mat-error>
            <mat-error *ngIf="validationError('conf_password', 'confirmedValidator')">The passwords you entered do not match. Please check and re-enter.</mat-error>
          </mat-form-field>
        </div>
        <footer class="mb-2 desktop">
          <button class="paxi-btn-large paxi-btn-primary paxi-btn-fill mb-1" type="submit" form="updateForm" [disabled]="updateForm.invalid">Update Password</button>
        </footer>
      </form>
    </div>

    <footer class="mb-2 mobile">
      <button class="paxi-btn-large paxi-btn-primary paxi-btn-fill" type="submit" form="updateForm" [disabled]="updateForm.invalid">Update Password</button>
    </footer>
    <app-footer class="mobile"></app-footer>
  </section>
  <app-footer class="desktop-content desktop-footer"></app-footer>
</main>
