<main>
  <a [routerLink]="headerBackIconLink" class="desktop-content desktop-icon"><img [src]="headerBackIconImg" alt="Back"/></a>
  <section>
    <app-header class="header-height">
      <a [routerLink]="headerBackIconLink" icon><img [src]="headerBackIconImg" alt="Back"></a>
      <img src="assets/img/logo/logo.svg" alt="Logo" logo>
    </app-header>

    <div class="content pyx-2 flex-grow">
      <p class="paxi-heading3 desktop-content mb-3">Reset Password</p>
      <p class="paxi-paragraph">Please enter your new password</p>
      <form [formGroup]="updatePasswordForm" id="updatePasswordForm" (ngSubmit)="updatePassword()">
        <div class="paxi-input-group">
          <label class="paxi-label py-1" for="newPassword">*Password</label>
          <mat-form-field>
            <input matInput formControlName="new_password" id="newPassword" placeholder="e.g sjQcgh6!" [type]="newHide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="newHide = !newHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newHide">
              <mat-icon>{{newHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="validationError('new_password', 'required')">Please provide your password.</mat-error>
            <mat-error *ngIf="validationError('new_password', 'pattern')">Please ensure your password contains numbers, capital and letter and a special character such as !*%&</mat-error>
          </mat-form-field>
        </div>
        <div class="paxi-input-group">
          <label class="paxi-label py-1" for="confPassword">*Confirm Password</label>
          <mat-form-field>
            <input matInput formControlName="conf_password" id="confPassword" placeholder="e.g sjQcgh6!" [type]="conHide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="conHide = !conHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="conHide">
              <mat-icon>{{conHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="validationError('conf_password', 'required')">Please provide your confirm password.</mat-error>
            <mat-error *ngIf="validationError('conf_password', 'confirmedValidator')">The passwords you entered do not match. Please check and re-enter.</mat-error>
          </mat-form-field>
        </div>
        <footer class="mb-2 desktop">
          <button class="paxi-btn-large paxi-btn-primary paxi-btn-fill" type="submit" form="updatePasswordForm" [disabled]="updatePasswordForm.invalid">Update Password</button>
        </footer>
      </form>
    </div>

    <footer class="mb-2 mobile">
      <button class="paxi-btn-large paxi-btn-primary paxi-btn-fill" type="submit" form="updatePasswordForm" [disabled]="updatePasswordForm.invalid">Update Password</button>
    </footer>
  </section>
</main>
