// Bhargav Work
$color-white: #FFFFFF;
$slider-bg: #ECECED;

$paxi-bg-grey: #F9F9F9;
$paxi-primary-navy-blue: #00455C;
$paxi-primary-orange: #F47521;
$paxi-tertiary-grey: #EAEAEA;
$paxi-text-primary: #212121;
$paxi-text-secondary: #515151;
$paxi-secondary-hover-state: #D9D9D9;

$paxi-primary-orange-hover: #DD610F;
$paxi-primary-orange-focused: #CB5100;

$paxi-primary-navy-blue-hover: #053342;
$paxi-primary-navy-blue-focused: #053342;

$paxi-primary-orange-outline-bg: #dadada;  // doubtful color havn't used yet
$paxi-primary-orange-outline-hover: #FFEEE3;

$color-error: #CB0E0F;

$sm-shadow: 0px 1px 3px rgba(98, 98, 98, 0.1);
$card-shadow: 0px 2.5444819927215576px 7.633446216583252px 0px #62626233;

$color-teal: #005064;

// Parth Work
$paxi-bg-blue:#00455C;
$paxi-bg-midblue: #006485;
$no-boxshadow:none;
$paxi-text-tertiary:#849398;
$drop-sm-shadow:0px 1px 3px 0px #0000001A;

$paxi-light-green: #78CDD733;
$paxi-aqua:#6CB6BE;

$paxi-light: #A7CDBD33;
$paxi-color-green: #82A797;

$paxi-dark-red: #A4243B33;
$paxi-red: #A4243B;

$paxi-tertiary-greys: #EAEAEA80;
$paxi-text-light:#8C8C8C;
$paxi-darkblue:#475569;

$paxi-light-orange: #FA751F;
$paxi-status-pill: #ADFFF8;

$paxi-turquoise :#26C7BA;
