<mat-card class="mt-2">
    <!-- <div class="footer_menu">
        <div class="menudiv paxi-bgBlue">
            <div class="menusection">
                <ul class="information">
                    <p class="paxi-heading">Information</p>
                    <li><a routerLink="javascript:void(0);"><p class="paxi-bodyb4">Terms & conditions</p></a></li>
                    <li><a routerLink="javascript:void(0);"><p class="paxi-bodyb4">About PAXI</p></a></li>
                    <li><a href="https://www.paxi.co.za/paxi-points"><p class="paxi-bodyb4">PAXI Points</p></a></li>
                    <li><a routerLink="javascript:void(0);"><p class="paxi-bodyb4">FAQ</p></a></li>
                </ul>
            </div>
            <div class="menusection applyflex">
                <ul class="information">
                    <p class="paxi-heading">Contact </p>
                    <li><a class="paxi-bodyb4 icontext" onClick='window.parent.location.href = "tel:+270860007294"'><img src="assets/img/icon-call.svg" alt="Call">  086 000 7294</a></li>
                    <li><a class="paxi-bodyb4 icontext" routerLink="javascript:void(0);"><img src="assets/img/icon-email.svg" alt="Email">  support@paxi.co.za</a></li>
                    <li><a class="paxi-bodyb4 icontext" (click) = "redirectToWhatsapp()"><img src="assets/img/icon-whatsapp.svg" alt="WhatsApp">  060 070 2492</a></li>
                    <li><a routerLink="javascript:void(0);"><p class="paxi-bodyb4">Customer enquiries</p></a></li>
                    <li><a routerLink="javascript:void(0);"><p class="paxi-bodyb4">Become a PAXI Partner</p></a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="copyright paxi-midBlue">
        <div class="textdiv">
            <!-- <span>© Copyright 2023 PAXI</span><br> -->
            <span>Send it easy, Send it with PAXI</span><br>
        </div>
    </div>
</mat-card>
